<! doctype html>
<html>
    <head>
        <title> Cubic </title>
    </head>
    <body>
        <form name= 'form' method='post'>
    <table class = 'table table-striped'>
    
        <tr>
            <td> 
                <label  id="lblf_name"> First Name</label> 
            </td>
            <td> <input type = "text" name = "firstname" id= 'f_name' placeholder="Enter First Name">
            
            <span id="f_nameerror"></span>
            </td>
            
        </tr>
        
        <tr>
            <td>
               <label id="lbll_name"> Last Name</label>  
            </td>
            <td> <input type = "text" name = "lastname" id = 'l_name' placeholder="Enter Last Name"> </td>
            <span id="l_nameerror"></span>
        </tr>
        
        <tr>
                <td> 
                    <label id="gender"> First Name</label> 
                </td>
                <td>
                <input type = "radio" name = "gender" value = "male"> Male
                <input type = "radio" name = "gender" value = "female"> Female
                <input type = "radio" name = "gender" value = "others"> Others
                </td>
            <span id="gendererror"></span>
        </tr>
        
        <tr>
            <td>
                <u>
                <label id="lbaddress"> Physical Adress </label> 
                </u>
            </td>
        </tr>
        <tr>
            <td> Address1</td>
            <td><input type = "text" name = "address" id = 'address' placeholder="Enter street name"> </td>
            <td> State</td>
            <td> <select name = "state" id = 'state'> 
                <option values = " "> </option>
                <option values = "bra"> TX</option> 
                <option values = "Ger"> MD</option>  
                <option values = "New"> MN</option>
                <option values = "thai"> ND</option> 
                </select>
            </td>
            <span id="addresserror"></span>
        </tr>
        
        <tr>
            <td> 
                <label id="lblcity"></label>
            </td>
        <td> <input type = "text" name = "city" id = 'city' placeholder="Enter city"> </td>
            <span id="cityerror"></span>
        </tr>
        
         <tr>
             <td> 
             <label id="lblcountry"> Country </label>
             </td> 
                <td>
                <select name = "countries" id = 'countries'> 
                <option values = " "> Select Countries</option>
                <option values = "bra"> USA </option> 
                <option values = "bra"> Brazil </option> 
                <option values = "Ger"> Germany </option>  
                <option values = "New"> Newzealand </option>
                <option values = "thai"> Thailand </option> 
                </select>
                </td>
             <span id="countryerror"></span>
        </tr>
        
        <tr> 
            <td> 
                <label id="lblcontact"> Contact </label>
            </td>
            <td><input type = "text" name = "contact" id = 'contact' placeholder="(xxx)-xxx-xxx"> </td>
            <span id="contacterror"></span>
        </tr>

        
        
    </table>
            <tr>
            <td>
            <button id = "submit" onclick = 'addperson(event)'> Submit </button>
            </td>
            </tr>
            
    </form>
        
        
        <hr>
            <div id ='first'> first contents</div>
            <div id = 'second'> second contents </div>
            
            <button id = 'firstbtn'> display first </button>
            <button id = 'secondbtn'> display Second </button>
            
            <button id = 'thirdbtn'> DisplayAll</button>
            <button id = 'fourthbtn'> Add class</button>
            <button id = 'fifthbtn'> Remove class</button>
            
            <div id = "display"></div>
        
            <button type = "button" data-toggle="modal" onclick = 'displayperson(event)'> Display </button>
        <link rel="stylesheet" href="../style/style.css">
        <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../js/proj7.min.js"></script>    
         <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css" >
        <script type="text/javascript" src="../../node_modules/bootstrap/dist/css/bootstrap.css"></script>
        
       
    </body>  
</html>
