<! doctype html>
<html>
    <head>
        <title> FORM </title>
    </head>
    <body>
        <form name= 'form' method='post'>
    <table class = 'table table-striped'>
    
        <tr>
            <td> 
                <label  id="lblf_name"> First Name</label> 
            </td>
            <td> <input type = "text" name = "firstname" id= 'f_name' placeholder="Enter First Name">
            
            <span id="f_nameerror"></span>
            </td>
            
        </tr>
        
        <tr>
            <td>
               <label id="lbll_name"> Last Name</label>  
            </td>
            <td> <input type = "text" name = "lastname" id = 'l_name' placeholder="Enter Last Name"> </td>
            <span id="l_nameerror"></span>
        </tr>
        
    
        
        <tr>
            <td>
                <u>
                <label id="lbaddress"> Address </label> 
                </u>
            </td>
            <td><input type ="text" name ="address" id ="address" placeholder="Enter your address"></td>
        </tr>
        
        <tr>
            <td>
                <label id="">Phone Number</label>
            </td>
            <td><input type="text" name="phone" id ="phone" placeholder="XXX-XXX-XXXX"></td>
        </tr>
        
        <tr>
            <td>
                <label id="">Image Path</label>
            </td>
            <td><input type="text" name="image_path" id=img_path placeholder="/XXXXX.jpg/svg/png"></td>
        </tr>
      
        
    
        
        
    </table>
            <tr>
            <td>
            <button id = "submit" onclick = 'addperson(event)'> Submit </button>
            </td>
            </tr>
            
    </form>
        
        
    
        
        <button type = "button" data-toggle="modal" onclick = 'displayperson(event)'> RECORDS </button>
        <link rel="stylesheet" href="/style/style.css">
        <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>  
         <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" >
        <script type="text/javascript" src="/node_modules/bootstrap/dist/css/bootstrap.css"></script>
        
       
    </body>  
</html>
